body{

background:linear-gradient(to right,#e8f5e9,#c8e6c9);

font-family:Arial;

margin:20px;

}



h1{

text-align:center;

color:#00695c;

font-size:40px;

text-shadow:2px 2px 5px gray;

}



.products{


display:flex;

justify-content:center;

flex-wrap:wrap;

gap:30px;


}




.box{


background:white;

width:250px;


padding:25px;


border:3px solid green;


border-radius:20px;


box-shadow:0px 10px 20px gray;


text-align:center;


}



.box:hover{


transform:translateY(-10px);


background:#f1f8e9;


}




.box img{


width:200px;

height:160px;


border-radius:15px;


}




.old{


color:red;

text-decoration:line-through;


}



.offer{


background:#27ae60;

color:white;

padding:10px;

border-radius:10px;


}